@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* Reset */
*{
    box-sizing: border-box;
}
html{ 
    font-size: 62.5%;
    scroll-behavior: smooth; 
}
body{
    font: 1.6rem 'Open Sans', sans-serif; 
    margin: 0;
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}
a{
    text-decoration: none;
    color: rgb(109, 109, 109);
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0 6px #a8a8a8;
}

.logo{
    max-width: 12rem;
    cursor: pointer;
    margin-right: auto;
    margin-left: 0.5rem;
}

.nav_links{
    display: flex;
    flex-direction: row;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    padding: 2.2rem;
}

.nav_links li a:hover{
    background: rgb(244, 72, 72);
    color: #fff;
}

section{
    width: 100vw;
    height: 100vh;
}

#connexion div:first-child{
    max-width: 40rem;
    text-align: center;
    margin: auto;
    padding-top: 8rem;
}

#connexion div h2{
    padding-top: 2rem;
    font-weight: 100;
    color: #868686;
    font-size: 3rem;
}

#connexion div p{
    padding-top: 7rem;
}

.formulaire{
	margin: auto;
	padding-top: 5%;
	max-width: 90rem;
    border: 0.1rem;
}

.formulaire form input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    line-height: 3.5rem;
    padding: 0.5rem;
    transition: all .6s ease-in-out;
    background-color: #efefef;
    border: 1px outset;
    box-shadow: 0 0 2px #a8a2a2;
}

.formulaire form input[type="submit"]{
    width: 30rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #0071f0;
    color: #fff;
    cursor: pointer;
    border: 0;
}

fieldset legend{
    padding: 1rem;
    font-size: 2.3rem;
    font-weight: 300;
}

fieldset{
    border-radius: 1rem;
    border-color: #ffffff73;
}

.button{
    text-align: center;
}

.active-link{
    color: rgb(244, 72, 72);
}


.scroll_down {
    position: fixed;
    bottom: 3%;
    right: 3rem;
    background-color: rgb(244, 72, 72);
    padding: 1.7rem 1.8rem;
    border-radius: 100%;
    max-width: 7rem;
    box-shadow: 0px 2px 8px #000;
}

.scrollup_icon {
    font-size: 2.4rem;
    color: #fff;
}