@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* Reset */
*{
    box-sizing: border-box;
}
html{ 
    font-size: 62.5%;
    scroll-behavior: smooth; 
}
body{
    font: 1.6rem 'Open Sans', sans-serif; 
    margin: 0;
    background-color: var(--body-bg-color);
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}
a{
    text-decoration: none;
    color: var(--first-color);
}

:root{
    --body-bg-color: #fff;
    --first-color: rgb(109, 109, 109);
    --first-color-alt: #000;
    --title-color: rgb(44, 45, 46);
}

    /*============== Variable Mode Sombre ==============*/
body.dark-theme{
    --first-color: rgb(255, 255, 255);
    --body-bg-color: #262a2e;
    --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
    --first-color-alt: #fff;
    --title-color: rgb(225, 229, 235);
}

header{
    display: flex;
    position: fixed;
    align-items: center;
    background-color: var(--body-bg-color);
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0 6px #a8a8a8;
}

.nav_btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

.logo{
    max-width: 12rem;
    cursor: pointer;
    margin-right: auto;
    margin-left: 0.5rem;
}

.nav_links{
    display: flex;
    flex-direction: row;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    padding: 2.2rem;
}

.link:hover{
    color: #dd5347;
}

section:first-child{
    background-image: url("../asset/home-hero.jpg");
    background-size: cover;
}

section{
    width: 100vw;
    height: 100vh;
}

section h1{
    color: rgb(255, 255, 255);
    margin: 0% 57% 0% 9%;
    padding-top: 27rem;
    padding-bottom: 3rem;
    font-size: 5.5rem;
    font-weight: lighter;
}

section .button1{
    padding: 1.9rem;
    background: #dd5347;
    margin: 1% 9%;
    color: #fff;
    border: 0;
    cursor: pointer;
}

#create_acc div:first-child{
    max-width: 40rem;
    text-align: center;
    margin: auto;
    padding-top: 8rem;
}

#create_acc div h2{
    padding-top: 2rem;
    font-weight: 100;
    color: var(--first-color);
    font-size: 3rem;
}

#create_acc div p{
    padding-top: 7rem;
    padding-bottom: 3rem;
    color: var(--first-color-alt);
}

.formulaire{
	margin: auto;
	padding-top: 2%;
	max-width: 90rem;
    color: var(--first-color);
}

.formulaire form input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    line-height: 3.5rem;
    padding: 0.5rem;
    transition: all .6s ease-in-out;
    background-color: #efefef;
    border: 1px outset;
    box-shadow: 0 0 2px #a8a2a2;
}

.formulaire form input[type="submit"]{
    width: 30rem;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #0071f0;
    color: #fff;
    cursor: pointer;
    border: 0;
}

fieldset legend{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.3rem;
    font-weight: 300;
}

fieldset{
    border-radius: 1rem;
    border-color: #ffffff73;
}

.button2{
    text-align: center;
}

.active-link{
    background: #dd5347;
    color: #fff;
}


.scroll_down {
    position: fixed;
    bottom: 3%;
    right: 3rem;
    background-color: #dd5347;
    padding: 1.7rem 1.8rem;
    border-radius: 100%;
    max-width: 7rem;
    box-shadow: 0px 2px 8px #000;
}

.scrollup_icon {
    font-size: 2.4rem;
    color: #fff;
    box-shadow: 2px #000;
}
.success{
    color: rgb(17, 232, 17);
}