@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400&display=swap');
/* Reset */
*{
    box-sizing: border-box;
}
html{ 
    font-size: 62.5%;  
}
body{
    font: 1.6rem 'Open Sans', sans-serif; 
    margin: 0;
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}
a{
    text-decoration: none;
    color: rgb(109, 109, 109);
}

header{
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #fff;
    width: 100%;
}

.logo{
    max-width: 12rem;
    cursor: pointer;
    margin-right: auto;
    margin-left: 0.5rem;
}

.nav_links{
    display: flex;
    flex-direction: row;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    padding: 1.9rem;
}

.nav_links li a:hover{
    background: rgb(244, 72, 72);
    color: #fff;
}

section{
    background-image: url("../asset/home-hero.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

section h2{
    color: rgb(255, 255, 255);
    margin: 0% 57% 0% 9%;
    padding-top: 27rem;
    font-size: 5.7rem;
    font-weight: lighter;
    font-family: system-ui;
    letter-spacing: 0.1rem;
}

section button{
    padding: 1.9rem;
    background: rgb(244, 72, 72);
    margin: 1% 9%;
    color: #fff;
    border: 0;
    cursor: pointer;
}
